@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
}
a{
    text-decoration: none;
}

ul > li{
    list-style: none;
}

body{
    max-height: 100vh;
    max-width: 100%;
    background-color: #79FFFE;
    overflow: hidden;
}


section .contents button{
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    margin-top: 150px;
}
.active{
    display: block;
}

.init__warning{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.init__warning .contents{
    margin-top: 50px;
}

.init__warning .warning{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(196, 196, 196, 0.7);
}

.init__warning .warning .w__content{
    position: absolute;
    width: 600px;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 70px 50px;
    background-color: #FFFFFF;
    border: 1px solid black;
}

.init__warning .warning .w__content .w__text{
    font-size: 24px;
    margin-bottom: 80px;
}

.init__warning .warning .w__content .cta__btn #confirm{
    border: none;
    outline: none;
    font-size: 36px;
    background: black;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
}

.init__warning .btns{
    position: absolute;
    left: 60px;
    bottom: 50px;
    z-index: -1;
}

.init__warning .btns button{
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.init__warning .btns button:not(:last-child){
    margin-right: 50px;
}


/* Homepage section */
.homepage{
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.homepage .contents{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homepage .contents .main__img{
    width: 780px;
}

.homepage .btns{
    position: absolute;
    left: 60px;
    bottom: 90px;
}

.homepage .btns button{
    background: none;
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
.homepage .btns button:not(:last-child){
    margin-right: 50px;
}


/* Add Player Section */

.add__player{
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 60px;
}

.add__player .contents{
    text-align: center;
}

.add__player .contents h1{
    font-size: 72px;
}
.add__player .contents .name__list{
    list-style: none;
}

.add__player .contents .name__list .name .single__name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border: 1px solid black;
    margin-bottom: 25px;
    padding: 20px;
    max-height: 50px;
}

.add__player .contents .name__list .name .single__name p{
    font-size: 30px;
}
.add__player .contents .name__list .name .single__name .del__btn{
    transform: scale(.7);
}

.add__player .contents .inputs{
    display: flex;
    position: relative;
}
.add__player .contents .inputs input{
    width: 100%;
    height: 60px;
    padding: 5px 50px;
    font-size: 30px;
    outline: none;
}

.add__player .contents .inputs img{
    position: absolute;
    right: 0;
    transform: scale(.7);
    cursor: pointer;
}

.add__player .btns button{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.add__player .btns button:first-child{
    position: absolute;
    bottom: 50px;
    left: 50px;
}

.add__player .btns button:last-child{
    position: absolute;
    right: 50px;
    bottom: 50px;

}